{% extends 'main.html' %}
{% load static %}

{% block addcss %}
    <link rel="stylesheet" type="text/css" href="{% static '/home/css/home.css' %}">
{% endblock %}

{% block content %}


    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">

                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white">Chacob</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <h2 class="text-white mb-5">Trouvez un vétérinaire proche de chez vous et connectez-vous pour
                        gérer vos rendez-vous ! </h2>
{#                    <form class="d-flex" id="main-search" action="" method="POST">#}
                    <form class="d-flex" id="main-search">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="search" id="search-input" name="search-address" class="form-control" placeholder="Tappez le nom de votre ville" aria-label="Search" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button style="background: #DE9440" class="btn" type="submit" id="button-addon2">Chercher</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="osmap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    {% if osmap %}
                        <hr class="divider light my-4" />
                            <div id="osmap-scroll">
                                {{ osmap | safe }}
                            </div>
                        <hr class="divider light my-4" />
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Contactez-nous !</h2>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5">Vous avez une question ou une suggestion ? Envoyez-nous un email.</p>
                </div>
            </div>
            <div class="row">
                <div class="col mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                    <a class="d-block" href="mailto:contact@chacob.fr">contact@chacob.fr</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block addjs %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}